{% extends 'base.html.twig' %} {% block title %}Modifier le genre{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ path('app_genre_index') }}">Genres</a>
</li>
<li class="breadcrumb-item active" aria-current="page">Modifier</li>
{% endblock %} {% block body %}
<h1>Modifier le genre</h1>

{{ include("genre/_form.html.twig", { button_label: "Mettre à jour" }) }}

{{ include("genre/_delete_form.html.twig") }}
{% endblock %}
