{% extends 'base.html.twig' %} {% block title %}Nouveau genre{% endblock %} {%
block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ path('app_genre_index') }}">Genres</a>
</li>
<li class="breadcrumb-item active" aria-current="page">Nouveau</li>
{% endblock %} {% block body %}
<h1>Créer un nouveau genre</h1>

{{ include("genre/_form.html.twig") }}
{% endblock %}
