{% extends 'base.html.twig' %} {% block title %}Nouvel éditeur{% endblock %} {%
block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ path('app_editeur_index') }}">Éditeurs</a>
</li>
<li class="breadcrumb-item active" aria-current="page">Nouveau</li>
{% endblock %} {% block body %}
<h1>Créer un nouvel éditeur</h1>

{{ include("editeur/_form.html.twig") }}

<a href="{{ path('app_editeur_index') }}">Retour à la liste</a>
{% endblock %}
